@model List<UserViewModel>
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Areas/Admin/Views/Shared/Main_Layout.cshtml";
}

<h1>Üye Liste</h1>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Kullanıcı Adı</th>
            <th>Email</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.UserName</td>
                <td>@item.Email</td>    
                <td><user-role-name user-id="@item.Id"></user-role-name></td>
                <td> <a asp-controller="Role" asp-area="Admin" asp-action="AssignToRole" asp-route-id="@item.Id" class=" btn btn-outline-warning">Rol İşlemleri</a></td>
            </tr>
        }
    </tbody>
</table>

