@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using Core.Entity
@model PagedList<Word>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="\lib\jquery\dist\jquery.js"></script>

<h1 class="text-center animated-heading" style="margin-top:50px; font-style:italic;">Your Dictionary</h1>
<br />
<table  class="table table-bordered table-striped table-warning">
    <thead class="bg-secondary">
        <tr>
            <th>#</th>
            <th>English</th>
            <th>Turkish</th>
            <th>Add Favorites</th>
            <th>Add Unknows</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.EnglishWord</td>
                <td>@item.TurkishWord</td>
                <td><a href="/Favorite/AddFavorite/@item.Id" class="btn btn-success">Favorites</a></td>
                <td><a href="/Unknows/AddUnknows/@item.Id" class="btn btn-success">Unknows</a></td>
                <td>
                    <form action="/Word/DeleteWord/@item.Id" method="POST" id="deleteForm">
                        <a href="#" class="btn btn-warning" onclick="showConfirmation(event, @item.Id)">Delete</a>
                    </form>
                </td>
                <td><a href="/Word/UpdateWord/@item.Id" class="btn btn-outline-primary">Update</a></td>
            </tr>
        }
    </tbody>
</table>
@{
    var renderOptions = new PagedListRenderOptions
            {
                DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                DisplayLinkToLastPage = PagedListDisplayMode.Always,
                DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                DisplayLinkToNextPage = PagedListDisplayMode.Always,
                DisplayLinkToIndividualPages = true
            };
}
<div class="pagedList">
    @Html.PagedListPager((IPagedList)Model,page=> Url.Action("Index",new {page}),renderOptions)
</div>

<script>
    function showConfirmation(event, id) {
        event.preventDefault(); // Linkin varsayılan davranışını engelle

        swal({
            title: "Emin misiniz?",
            text: "Bu kelimeyi silmek istediğinizden emin misiniz?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    document.getElementById("deleteForm").action = "/Word/DeleteWord/" + id; // Formun action'ını güncelle
                    document.getElementById("deleteForm").submit(); // Formu submit et
                } else {
                    swal("Kelime Silinmedi !!!", "warning")
                }
            });
    }
</script>