@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using Core.Entity
@model PagedList<Favorite>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<h1 class="text-center animated-heading" style="margin-top:50px; font-style:italic;">Favorite List</h1>
<br />

<table class="table table-bordered table-striped table-warning" >
    <thead class="bg-secondary">
        <tr>
            <th>#</th>
            <th>English</th>
            <th>Turkish</th>
            <th>#</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.EnglishWord</td>
                <td>@item.TurkishWord</td>
                <td>@item.WordId</td>
                <td><a href="/Favorite/UpdateFavorite/@item.Id" class="btn btn-outline-danger">Update</a></td>
                <td><a href="/Favorite/DeleteFavorite/@item.Id" class="btn btn-outline-primary">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
@{
    var renderOptions = new PagedListRenderOptions
            {
                DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                DisplayLinkToIndividualPages = true
            };
}
<div class="pagedList" style="margin-top: 20px;">
    @Html.PagedListPager((IPagedList)Model,page=> Url.Action("Index",new {page}),renderOptions)
</div>
